@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "garet heavy";
  src: url("../src/assets/fonts/Garet-Heavy.otf");
}
@font-face {
  font-family: "garet book";
  src: url("../src/assets/fonts/Garet-Book.otf");
}

:root {
  --garetHeavy: "garet heavy", sans-serif;
  --garetBook: "garet book", sans-serif;
  height: 100vh;
  font-size: 62.5%;
  font-family: var(--garetHeavy);
}

* {
  font-size: 1.6rem;
}

h1 {
  color: #fff;
}
h2 {
  color: #1d2b1b;
  font-size: 3.8rem;
}

h3 {
  color: #1d2b1b;
  font-size: 2.8rem;
}

p {
  font-family: var(--garetBook);
  font-weight: 800;
}
